


@prettyBlue:#3d81c6;
@orange:#f39c12;
@red:#e74c3c;

@editorBg:#151515;/* #301800 #3C3D36; #22313F; #2C3E50; #272822;*/

@editorBgFontColor:#f39c12;

@textColor:#eeeeee;
@bgColor:darken(@editorBg,10%);

@folderColor:lighten(#6d787a,5%);
@darkWhite:darken(#f3f3f3,10%);





* {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

body { background:@bgColor; }

.padding { margin-right:10px; }

.vsplitter{  background:@bgColor !important; border-left:1px solid @editorBg; width:3px !important}

.openProjectGlyph{ color:@bgColor;}

.CodeMirror-activeline-background {background: #000000;}

.blink {animation: blink 1s steps(5, start) infinite;-webkit-animation: blink 1s steps(5, start) infinite;}
@keyframes blink {  to { visibility: hidden; } }
@-webkit-keyframes blink { to { visibility: hidden; } }


/* CodemirrorEditor */
.CodeMirror {cursor:text;height:auto; font-family:"SourceCode" !important;background:@editorBg !important;}
.CodeMirror-gutters{background:@editorBg !important; border-right:1px solid darken(@editorBg,10%) !important; }
.CodeMirror-linenumber{color:lighten(@editorBg,20%) !important;}
.CodeMirror-hscrollbar, .CodeMirror-vscrollbar{cursor:auto;min-width:initial !important;min-height:initial !important;opacity:0.5}
.CodeMirror-vscrollbar{right:15px !important;}
.glyphicon {color:lighten(@editorBg,20%);text-shadow:none;}


.lint-error {font-size: 70%;background: #ffa;color: #a00;padding: 2px 5px 3px;}
.glyphicon-record{color:@red;}
.CodeMirror-activeline-background{background:darken(@editorBg,5%) !important}


.navbar-default {background:@editorBg;border-bottom:1px solid @bgColor; }

.navbar ul.navbar-nav {	height:5vh; }
.navbar ul.dropdown-menu { margin-top:-3px;}
.navbar ul.navbar-nav >li> a {color:#ffffff;padding-top:6px;padding-bottom:0px;height:5vh;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { color:#888888;}
#inspector_position {background:@editorBg;}
#custom_completion {background:@editorBg; color:#ffffff;z-index:9999;border:1px solid #f7951e; }
#custom_completion .tt-dropdown-menu {background:@editorBg; color:#ffffff;z-index:9999;border:1px solid #f7951e; }




.dropdown-menu
{
min-width:250px;
}

#loadingStatus
{
font-size:8px;
}

.panel{
border-color:lighten(@editorBg,20%);
}
.panel-body{
padding:0px !important;
}

.panel-default > .panel-heading {
background:lighten(@editorBg,10%);
text-shadow:0px 1px 1px rgba(0, 0, 0, 0.8);
}

.panel-default > .panel-heading a{
color:#ffffff;
}

.panel-group .panel-heading + .panel-collapse > .panel-body
{
background:@editorBg;
border-color: lighten(@editorBg,20%);
}



/* projectTree */
#tree_position ul {padding-left:0px;list-style:none;}
#tree_position a.folder {color: darken(@orange,10%);  }
#tree_position a.file { color: darken(@darkWhite,50%);}
#tree_position a.xml,#tree_position a.hx,#tree_position a.hxml,#tree_position a.txt,#tree_position a.js { color: darken(@darkWhite,20%); }



/* scrollbar */
::-webkit-scrollbar {  width: 7px;  height:7px; }  
::-webkit-scrollbar-track {  /*background-color: #eaeaea;  border-left: 1px solid #ccc;  */ }  
::-webkit-scrollbar-thumb {  background:lighten(@editorBg,20%);    -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }  
/*::-webkit-scrollbar-thumb:hover {  background-color: @prettyBlue; }  */


/* tab */
#editor_tab { background:@bgColor;height:26px;}
#editor_tab ul {border:0px; border-color:#d35400; }
#editor_tab ul li { display:inline; height:27px;}
#editor_tab ul li div{padding:3px 6px;}

#editor_tab ul li div.active { background:@editorBg; border-color:@editorBg; height:30px; }
#editor_tab ul li div.active a {  color:@editorBgFontColor !important; text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8); }

#editor_tab ul li div a:hover, #editor_tab ul li div span:hover { color:#ffffff; text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);  text-decoration:none; }
#editor_tab ul li div  a { color:@darkWhite; font-family:"Ubuntu"; font-size:15px; text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8); padding-top:3px;   }




/* layout */

.content_position{border-right:2px solid @bgColor;}

.dropdown-menu{left:-1px;}

.option_position{background:@editorBg;border-right:2px solid @bgColor;} 

.option_position_buttons{background:@bgColor}

.btn_option_position{background:@bgColor;color:#888888;border:0px;border-bottom-left-radius:0px;border-bottom-right-radius:0px;}
.btn_option_position.active{background:@editorBg;color:#ffffff;}
.btn_option_position:hover{background:lighten(@editorBg,5%);color:#FFFFFF;}

button.btn-default{font-weight:bold;}


.option_position_content{background:@editorBg;padding:7px 10px;overflow:auto;}
.content_status_position{background:@editorBg;}



/* debug layout */

.debug-time
{
float:left;
width:150px;
}
.debug-text
{
float:left;
width:500px;
}
.debug-icon  
{
float:left;
padding-right:5px;
}


.debug-level-warn,.debug-level-warn .glyphicon
{
color:#2c3e50;
font-weight:bold;
background:#f39c12;
padding:10px;
}
.debug-level-warn ol a
{
color:#000000;
text-decoration:underline;
}



.debug-level-info,.debug-level-info .glyphicon
{
color:#3498db;
}


.debug-level-debug,.debug-level-debug .glyphicon
{
color:#ffffff;
}

.debug-level-error,.debug-level-error .glyphicon
{
color:#ff0000;
}

