@font-face {
    font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
    src: url(../fonts/ubuntu.woff);
}		

@font-face {
    font-family: 'SourceCode';
	font-style: normal;
	font-weight: 400;
    src: url(../fonts/SourceCodePro-Medium.ttf.woff);
}		


