*
{
cursor:default;
}
body
{
/*background:url(./bg.png) repeat;*/
background:#151515;
}

.padding
{
margin-right:10px;
}


hr
{
padding-bottom:5px;
margin:0px;
}
#left-panel .well
{
background:#34495e;
color:#ffffff;
}

#left-panel #projectControl_wrap
{
font-family:"Lato";
font-size:15px;
height:20vh;
}
/*
#left-panel #projectTree_wrap
{
font-family:"Lato";
font-size:15px;
height:40vh;
overflow-y:auto;
}
#projectTree a.file
{
color:#ffffff;
font-weight:bold;
}

#projectTree a.folder
{
color:#dddddd;
font-weight:bold;
}
*/


#content
{
/*background:#2C3E50;*/


}
#left-panel
{
background-color:#2C3E50;
background:url(./bg.png) repeat;
}
#right-panel
{
background:#34495e;
background:url(./bg.png) repeat;
}





/* menu item */
.navbar-default .navbar-nav>li>a
{
color:#ffffff !important;
}

.navbar-default .navbar-nav>li>a:hover
{
color:#F1C40F !important;
background:#d35400;

}



/* menu dropdown */
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus
{
background:#d35400;
color:#ffffff;
}

li.dropdown > a:visited
{
color:#ffffff;
}


/* menu dropdown */
.navbar-nav>li>.dropdown-menu
{
border:1px solid #397ff6;
border:0px;
border-left:0px;
background:#d35400;
text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4);
}
/* menu dropdown */
.dropdown-menu>li>a
{
color:#ffffff;

}

.CodeMirror-scroll
{
overflow-x:hidden;
}

.CodeMirror-hints
{
height:100px !important;
width:200px !important;
}

.navbar .nav>li>a
{
padding: 5px 10px;
text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.8);
}

#plugin_misterpah_CodemirrorEditor_tab ul 
{
border-color:#d35400;
}

#plugin_misterpah_CodemirrorEditor_tab ul li
{
display:inline;
height:30px;
}

#plugin_misterpah_CodemirrorEditor_tab ul li.active a
{
color:#ffffff;
background:#d35400;
text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
border-color:#d35400;
}

#plugin_misterpah_CodemirrorEditor_tab ul li a:hover
{
color:#ffffff;
background:#f5af8c;
text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
border-color:#d35400;
height:37px;
}


#plugin_misterpah_CodemirrorEditor_tab ul li a
{
top:-7px;
color:#d35400;
font-family:"Ubuntu";
font-size:15px;
text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
}

.lint-error {
font-size: 70%;
background: #ffa;
color: #a00;
padding: 2px 5px 3px;
}


.cm-s-base16-dark.CodeMirror
{
/*background:url(./bg.png) repeat;*/
font-family:'Source Code Pro';
font-size:16px;
line-height:20px;
}

    ::-webkit-scrollbar {  
        width: 7px;  
        height:7px;
    }  
    ::-webkit-scrollbar-track {  
        /*background-color: #eaeaea;  
        border-left: 1px solid #ccc;  
        */
    }  
    ::-webkit-scrollbar-thumb {  
        background-color: #d35400;  
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;        
    }  
    ::-webkit-scrollbar-thumb:hover {  
        background-color: #d35400;  
    }  
    
textarea::selection {
	background: #d35400;
	color:#ffffff;
}    

.CodeMirror-activeline-background {background: #000000;}


@font-face {
  font-family: 'inconsolata';
  src: url('../fonts/Inconsolata.otf');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/SourceCodePro-Medium.ttf.woff') format('woff');
}


/* search box */
.CodeMirror-dialog
{
z-index:9998;
position:relative;
background:#000000;
color:#ffffff;
}




/* project Tree */

#tree_position {
font-size:12px;
}


#tree_position a {
color: #ffffff;
text-shadow: 0px 1px 1px #000000;
border-color: #d35400;
}




#tree_position a.folder
{
color: #f39c12;
}

#tree_position a.file
{
/*color: #2980b9;*/
color:#e74c3c;
}

#tree_position a.xml,#tree_position a.hx,#tree_position a.hxml,#tree_position a.txt
{
color: #2980b9;
}



.ui-layout-west{
background:#151515;
}


.ui-layout-west {
border-top:0px;
border-left:0px;
border-right:0px;
border-bottom:0px;
}

.ui-layout-north {
border-left:0px;
border-right:0px;
border-top:0px;
}


.ui-layout-south {
border:0px;
}
.ui-layout-resizer-south
{
border-top:1px solid  #d35400;
}

.shadowme
{
text-shadow: 0px 1px 1px #000000;
}


.ui-layout-south {
border:0px;
background:#151515;
color: #ffffff;
text-shadow: 0px 1px 1px #000000;

}



.ui-layout-center {

border-right:0px;
border-top:0px;
border-bottom:0px;
}

.ui-layout-toggler
{
	border-color: #d35400;
	background:#d35400;
}


.buttonMenu
{
background:#151515;
}
.ui-layout-pane { /* all 'panes' */
	padding:	0px !important; 
	border-color: #d35400;
}
